{:cljdoc.doc/tree
 [["Readme" {:file "README.adoc"}]
  ["Documentation" {:file "doc/Home.adoc"}
   ["Documentation Conventions" {:file "doc/Documentation-Conventions.adoc"}]
   ["Select" {:file "doc/Select.adoc"}]
   ["Compound Select" {:file "doc/Compound-Select.adoc"}]
   ["Expressions" {:file "doc/Expressions.adoc"}]
   ["Composing Statements" {:file "doc/Composing-Statements.adoc"}]
   ["Delete Statement Representation" {:file "doc/Delete-Statement-Representation.adoc"}]
   ["Insert Statement Representation" {:file "doc/Insert-Statement-Representation.adoc"}]
   ["Select Statement Representation" {:file "doc/Select-Statement-Representation.adoc"}]
   ["Update Statement Representation" {:file "doc/Update-Statement-Representation.adoc"}]
   ["Expression Representation" {:file "doc/Expression-Representation.adoc"}]]]}
